@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  font-size: 1vw;
  font-family: 'Lato', sans-serif;
}

body {
  width: 50vw;
}

.page-title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.bus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bus .data-item {
  font-size: 1.5rem;
  width: 23%;
}

.bus .bus-id {
  width: 31%;
}

.public-transport-container hr {
  border: 1px solid #555;
}